# Dependency directories
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
examples/web-interface/node_modules/
examples/web-interface/downloads/

# Environment variables
.env

# Build output
dist/
build/

# OS specific files
.DS_Store
Thumbs.db

# Downloaded MP3 files
*.mp3
*_temp.webm 
